<!DOCTYPE html>
{% load widget_tweaks %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <style>

        form{
           margin: 50px; 
          
        }

    </style>
  </head>
  <body>
    {% include "quiz/navbar.html" %}
 


<br><br><br>
<h3 style="text-align: center;color: red;">STUDENT SIGNUP</h3>
<form method="POST" autocomplete="off" enctype="multipart/form-data">
    {% csrf_token %}
      <div class="form-group col-md-6">
        <label for="username">Username</label>
        {% render_field form.username|attr:'required:true'  class="form-control" placeholder="username" %}
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Password</label>
        {% render_field form.password1|attr:'required:true'  class="form-control" placeholder="password" %}
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Confirm password</label>
        {% render_field form.password2|attr:'required:true'  class="form-control" placeholder="password" %}
      </div>


    <button type="submit" class="btn btn-primary">Sign Up</button>
  </form>


<br><br>
{% include "quiz/footer.html" %}
  </body>
</html>
